@import url('https://fonts.googleapis.com/css?family=Roboto');

.flatpickr {
  margin: 10px;

}

.date-selector-container {
  margin: auto;
  display: flex;
  width: 70vw;
  justify-content: center;
  background-color: whitesmoke;
}

@media (max-width: 600px) {
  .date-selector-container {
    width: calc(100vw - 15px);
  }
}

.date-label {
  font-family: 'Roboto', cursive;
  font-size: .75em;
  margin-left:20px;
  margin-top: 13px;
}

.event {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 150px;
    bottom: 3px;
    left: calc(50% - 1.5px);
    content: " ";
    display: block;
    background: #3d8eb9;
}
